.collapseBox {
  display: flex;
  align-items: center;
}

.collapseBox input[type="checkbox"] {
  display: none;
}

.collapseBox label {
  cursor: pointer;
  display: flex;
  align-items: center;
}

.collapseBox .chevron {
  transition: transform 0.3s ease;
}

.collapseBox input[type="checkbox"]:checked + label .chevron {
  transform: rotate(180deg);
}
