.menu .button:hover {
  background-color: #0056b3;
}

.drawer {
  overflow: hidden;
}

.drawer-drag {
  border: 2px solid var(--color-gray-600);
}

.drawer-drag-mouse-down {
  border: 2px solid var(--color-blue-600);
}
.undraggable {
  user-select: none; /* Prevent text selection */
  -webkit-user-drag: none; /* Prevent dragging on WebKit browsers */
}
.clickable-area {
  position: relative;
}

.clickable-area::before {
  content: '';
  position: absolute;
  left: -10px; /* Adjust as needed */
  right: -10px; /* Adjust as needed */
  z-index: -1; /* Ensure it doesn't cover the content */
}

.active {
  border-left: 2px solid #0056b3;
  padding-left: -2px;
}

.offset-margin {
  margin-left: 14px;
  margin-right: 16px;
  margin-top: 16px;
  margin-bottom: 16px;
}