.video-player-container {
  position: relative;
}

.responsive-element {
}

.video-container {
  display: inline;
  justify-content: center;
  align-items: center;
}

.display-area-side-by-side {
  display: flex;
  justify-content: center;
  align-items: center;
}