.span-slider {
}
.span-slider__track {
  background-color: #0f0f0f;
  position: relative;
  height: 10px;
  width: 100%;
  border-radius: 5px;
  overflow: hidden;
  box-sizing: border-box;
}

.span-slider__thumb_1 {
  width: 10px;
  height: 10px;
  background-color: #ffffff;
  cursor: ew-resize;
  border-radius: 0%;
  border: none;
  z-index: 2;
}

.span-slider__thumb_2 {
  width: 10px;
  height: 10px;
  background-color: #ffffff;
  cursor: ew-resize;
  border-radius: 0%;
  border: none;
  z-index: 1;
}


.span-slider__between {
  height: 10px;
  background-color: var(--tw-ring-color);
  border-radius: 5px;
  z-index: 0;
  cursor: grab;
}

.span-slider__before {
  height: 10px;
  background-color: #000000;
  border-radius: 5px;
  z-index: 0;
}
.span-slider__after {
  height: 10px;
  background-color: #000000;
  border-radius: 5px;
  z-index: 0;
}
