.span-input {
  border-left: 10px solid #000;
  border-right: 10px solid #000;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
}
.span-input__track {
  background-color: #000;
  position: relative;
  border-radius: 0px;
  height: 10px;
  width: 100%;
  overflow: hidden;
  box-sizing: border-box;
  opacity: 1;
}

.span-input__thumb_1 {
  width: 10px;
  height: 10px;
  background-color: #3b82f6;
  cursor: ew-resize;
  border: none;
  z-index: 2;
  opacity: 1;
}

.span-input__before {
  height: 10px;
  background-color: #ffffff;
  opacity: 1;
  opacity: 1;
}
