.span-slider {
  border-left: 10px solid #000;
  border-right: 10px solid #000;
  border-bottom: 1px solid #fff;
}
.span-slider__track {
  background-color: #000;
  position: relative;
  height: 10px;
  width: 100%;
  overflow: hidden;
  box-sizing: border-box;
  opacity: 1;
}

.span-slider__thumb_1 {
  width: 10px;
  height: 10px;
  background-color: #3b82f6;
  cursor: ew-resize;
  border-radius: 0%;
  border: none;
  z-index: 2;
  opacity: 1;
}

.span-slider__thumb_2 {
  width: 10px;
  height: 10px;
  background-color: #3b82f6;
  cursor: ew-resize;
  border-radius: 0%;
  border: none;
  opacity: 1;
}

.span-slider__between {
  height: 10px;
  background-color: #ffffff;
  cursor: grab;
  opacity: 1;
}

.span-slider__before {
  height: 10px;
  background-color: #000;
  opacity: 1;
}
.span-slider__after {
  height: 10px;
  background-color: #000;
  opacity: 1;
}
